<div class="wrap">
  <section class="main">
      <nav>
        <a href="http://www.twitter.com/dstywho" class="twitter">twitter</a>
        <a href="http://www.facebook.com/dustin.tsang" class="facebook">facebook</a>
        <a href="https://plus.google.com/100503626543414990997/posts" class="gplus">google+</a>
        <a href="mailto:dstywho@gmail.com" class="email">email</a>
        <a href="https://github.com/dstywho/" class="github">github</a>
        <div class="clear-left"></div>
      </nav>
    <div class="clear-left"></div>
  </section>
</div>
